{% extends 'portfolio/base.html' %}
{% block content %}
  <h1>Ram's Portfolio finally</h1>
  {% load static %}
  <a href="{% url 'blog:all_blogs' %}">Blog</a>
  <br>
  <br>
  <img src="{% static 'portfolio/nayudu.bmp' %}" height="250",width="250">
  <a href="{% static 'portfolio/Ramachandra_IT_Nov_2018.pdf' %}"><br><br><br>RESUME</br></br></br></a>

  {% for project in projects %}

  <h2>{{ project.title }}</h2>
  <p>{{ project.description }}</p>
  <img src="{{ project.image.url }}"height="250",width="250">
  {% if project.url %}
  <br> <a href="{{ project.url }}">link</a>
  {% endif %}
  {% endfor %}
{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>



